* {
  box-sizing: border-box
}

body {
  width: 100vw;
  height: 100vh;
  
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-rows: 1fr 10fr 0.5fr;
}

#header {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr 2fr;

  grid-area: 1 / 1 / 2 / 2;

  background-color: #44403c;
  color: #e7e5e4;
}

#header-sign {
  grid-area: 1 / 1 / 2 / 2;
}

#header-name {
  grid-area: 1 / 2 / 2 / 3;
}

#header-menu {
  grid-area: 1 / 3 / 2 / 4;
}

#header-about {
  grid-area: 1 / 4 / 2 / 5;
}

#header-contact {
  grid-area: 1 / 5 / 2 / 6;
}

#home {
  grid-area: 2 / 1 / 3 / 2;


  background-color: #78716c;
  color: #292524;

}

#footer {
  grid-area: 3 / 1 / 4 / 2;

  background-color: #44403c;
  color: #e7e5e4;

}