* {
  box-sizing: border-box;
  border: 1px solid snow;
}

body {
  width: 100vw;
  height: 100vh;
  
  margin: 0;
  padding: 0;
}

#content {
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-rows: 1fr 10fr 0.5fr;
}




#header {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr 2fr 2fr;

  grid-area: 1 / 1 / 2 / 2;

  background-color: #44403c;
  color: #e7e5e4;
}

#header-sign {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-name {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  justify-content: start;
  align-items: center;
}

#header-menu {
  grid-area: 1 / 3 / 2 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-about {
  grid-area: 1 / 4 / 2 / 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-contact {
  grid-area: 1 / 5 / 2 / 6;

  display: flex;
  justify-content: center;
  align-items: center;
}





#home {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(2, 1fr);

  background-color: #78716c;
  color: #292524;
}

#home-top {
  grid-area: 1 / 1 / 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home-left {
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#home-right {
  grid-area: 2 / 2 / 3 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}



#menu {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-template-rows: 1fr  6fr 3fr;
  grid-template-columns: repeat(3, 1fr);

  background-color: #78716c;
  color: #292524;
}

#menu-header {
  grid-area: 1 / 1 / 2 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-breakfast {
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-light-meals {
  grid-area: 3 / 1 / 4 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-mains {
  grid-area: 2 / 2 / 3 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-desserts {
  grid-area: 3 / 2 / 4 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-mains {
  grid-area: 2 / 3 / 3 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
}





#footer {
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: #44403c;
  color: #e7e5e4;
}

#footer-options {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: start;
  align-items: center;

  padding-left: 20px;
}

#footer-me {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-text {
  grid-area: 1 / 3 / 2 / 4;

  display: flex;
  justify-content: end;
  align-items: center;

  padding-right: 20px;
}