@font-face {
  font-family: 'MyFont';
  src: url('./CaslonAntique.ttf') format('truetype'),
    url('./CaslonAntique-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'MyFont';
}

body {
  width: 100vw;
  height: 100vh;
  
  margin: 0;
  padding: 0;

  font-family: 'MyFont';
}

#content {
  width: 100%;
  height: 100%;
  
  display: grid;
  grid-template-rows: 1.1fr 10fr 0.7fr;
}




#header {
  display: grid;
  grid-template-columns: 1fr 8fr 2fr 2fr 2fr;

  grid-area: 1 / 1 / 2 / 2;

  background-color: #44403c;
  color: #e7e5e4;
}

#header button {
  background-color: #44403c;
  color: #e7e5e4;

  cursor: pointer;
  border: none;
  padding: 50px;
}

#header-sign {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-btn {
  width: 60%;
  height: 80%;

  border-radius: 10px;
  
  background: url('./logo-cropped.png');
  background-repeat: none;
  background-size: 100% 100%;
}

#name-btn {
  font-size: 8rem;
  font-weight: 800;
}

#name-btn:hover {
  font-size: 8.2rem;
  color: #bbb7b5;
}

#menu-btn,
#about-btn,
#contact-btn {
  font-size: 6rem;
  font-weight: 800;
}

#menu-btn:hover,
#about-btn:hover,
#contact-btn:hover {
  font-size: 6.5rem;
  color: #bbb7b5;
}

#header-name {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  justify-content: start;
  align-items: center;
}

#header-menu {
  grid-area: 1 / 3 / 2 / 4;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-about {
  grid-area: 1 / 4 / 2 / 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

#header-contact {
  grid-area: 1 / 5 / 2 / 6;

  display: flex;
  justify-content: center;
  align-items: center;
}


#home,
#menu,
#about,
#contact {
  background: url('./body-photo.png');
  background-repeat: none;
  background-size: 100% 100%;
}



#home {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-template-columns: repeat(2, 1fr);
}

#home-top {
  grid-area: 1 / 1 / 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#home-left {
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;

}

#home-right {
  grid-area: 2 / 2 / 3 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;

}



#menu {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-template-rows: 1fr  6fr 3fr;
  grid-template-columns: repeat(3, 1fr);
}

#menu-header {
  grid-area: 1 / 1 / 2 / 4;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#menu-breakfast {
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#menu-light-meals {
  grid-area: 3 / 1 / 4 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#menu-mains {
  grid-area: 2 / 2 / 3 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#menu-desserts {
  grid-area: 3 / 2 / 4 / 3;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#menu-drinks {
  grid-area: 2 / 3 / 4 / 4;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}


#about {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-template-rows: 1fr  9fr;
}

#about-header {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#about-body {
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}


#contact {
  grid-area: 2 / 1 / 3 / 2;

  display: grid;
  grid-template-rows: 1fr  9fr;

  font-size: 5rem;
  color: whitesmoke;
}

#contact-header {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}

#contact-body {
  grid-area: 2 / 1 / 3 / 2;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 5rem;
  color: whitesmoke;
}



#footer {
  grid-area: 3 / 1 / 4 / 2;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: #44403c;
  color: #e7e5e4;

  font-size: 5rem;
  font-weight: 500;
}

#footer-options {
  grid-area: 1 / 1 / 2 / 2;

  display: flex;
  justify-content: start;
  align-items: center;

  padding-left: 50px;
}

#footer-me {
  grid-area: 1 / 2 / 2 / 3;

  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-text {
  grid-area: 1 / 3 / 2 / 4;

  display: flex;
  justify-content: end;
  align-items: center;

  padding-right: 50px;
}
